<section style="width: 70%; background: rgb(23, 171, 190); padding: 20px; margin: 20px; text-algin: center; box-shadow: 0 4px 8px rgba(0,0,0,0.2); color: #fff; font-wieght: 700;"
    class="members">
    {{#each members}}
    <li class="member">{{this.username}}</li>
    {{/each}}
</section>