<form action="/comments" method="POST" class="comments-form">
    <input type="number" name="postId" value="{{this.id}}" class="post-id" style="display: none">
    <input type="text" name="commentContent" placeholder="write your opinion">
    <input type="submit" value="add" class="form-btn">
</form>